@import url(../fontello/css/fontello.css);
.twitter-handle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 0.8em;
  z-index: 100;
  font-family: "Open Sans", sans-serif;
  color: #e7ad52;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  @media (min-width: 700px) {
    .twitter-handle {
      font-size: 1.7em;
      bottom: 40px;
      left: 40px; } }

.reveal section .title {
  font-size: 2em;
  line-height: 1.3; }
  .reveal section .title b {
    display: block;
    font-size: 1.8em;
    white-space: nowrap; }

.reveal section .hashtag {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.1em 0.4em;
  display: inline-block; }
  .reveal section .hashtag:first-of-type {
    margin-top: 7em; }

.reveal section h4.hashtag {
  font-size: 1.4em;
  margin: 0 0.2em; }

.reveal section img.plain {
  background: none;
  border: none;
  box-shadow: none; }

.reveal section .grumpy {
  margin: 2em -0.5em 0 0;
  text-align: right;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.reveal section .emoji {
  font-size: 1.5em;
  line-height: 1; }
  .reveal section .emoji--gap {
    margin-top: 1.2em; }

.reveal section .list li {
  margin: 0.8em 0; }

.reveal section .social {
  display: block;
  position: relative;
  font-size: 0.65em;
  margin: 0.5em 0; }
  .reveal section .social i {
    margin-right: 0.1em; }
  .reveal section .social b {
    color: #f3d7ac;
    font-weight: normal; }

.reveal .flex {
  display: flex;
  text-align: left;
  margin-top: 2em;
  margin-left: 3.5em; }
  .reveal .flex div:last-child {
    margin-left: 3em; }
  .reveal .flex ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.7em; }

.reveal .chartlibs {
  min-height: 15em;
  min-width: 20em; }

.reveal .chartlib {
  position: fixed;
  height: auto;
  width: 10em; }
  .reveal .chartlib:nth-child(1) {
    left: 0;
    top: 0;
    transform: rotate(-10deg); }
  .reveal .chartlib:nth-child(2) {
    right: 0;
    top: 0;
    transform: rotate(10deg);
    width: 8em; }
  .reveal .chartlib:nth-child(3) {
    left: 10%;
    top: 20%;
    transform: rotate(-5deg);
    width: 6em; }
  .reveal .chartlib:nth-child(4) {
    right: 30%;
    top: 10%;
    transform: rotate(2deg); }
  .reveal .chartlib:nth-child(5) {
    right: 0;
    top: 50%;
    transform: rotate(2deg); }
  .reveal .chartlib:nth-child(6) {
    right: 0;
    top: 30%;
    transform: rotate(-5deg); }
  .reveal .chartlib:nth-child(7) {
    right: 20%;
    top: 60%;
    width: 6em;
    transform: rotate(15deg); }
  .reveal .chartlib:nth-child(8) {
    left: -10%;
    top: 50%;
    transform: rotate(-5deg); }
  .reveal .chartlib:nth-child(9) {
    left: 20%;
    top: 50%;
    width: 7em;
    transform: rotate(5deg); }
  .reveal .chartlib:nth-child(10) {
    left: -10%;
    top: 50%; }
  .reveal .chartlib:nth-child(11) {
    right: -10%;
    top: 50%;
    transform: rotate(20deg); }
  .reveal .chartlib:nth-child(12) {
    right: 20%;
    top: 50%;
    transform: rotate(2deg); }
  .reveal .chartlib:nth-child(13) {
    left: -15%;
    top: 5%;
    transform: rotate(-5deg);
    width: 11em; }

.reveal .speaker-notes {
  padding: 10px 30px;
  max-height: 25%;
  font-size: 20px; }

.reveal .d3-apis b {
  white-space: nowrap;
  font-weight: normal;
  font-size: 0.9em; }

.reveal .fin {
  background: rgba(0, 0, 0, 0.6);
  max-width: 80%;
  margin: 0 auto;
  padding: 1em; }
  .reveal .fin small {
    margin: 1em 0 0; }

.reveal .resources p {
  margin-top: 1em;
  font-size: 0.9em; }

canvas {
  position: absolute;
  transition: opacity ease 0.4s;
  top: 0;
  left: 0; }
