@import url(../fontello/css/fontello.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
.twitter-handle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 0.8em;
  z-index: 100;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 7px 7px;
  border-radius: 5px; }
  @media (min-width: 700px) and (min-height: 500px) {
    .twitter-handle {
      font-size: 1.5em;
      bottom: 30px;
      left: 30px; } }

.reveal section[data-background-color="white"], .reveal section[data-background-color="white"] h3 {
  color: #111; }

.reveal section .title {
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.6), 3px 4px 10px rgba(0, 0, 0, 0.3); }
  .reveal section .title b {
    display: block;
    font-size: 1.18em;
    text-indent: -0.018em;
    white-space: nowrap; }

.reveal section .hashtag {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.1em 0.4em;
  display: inline-block; }
  .reveal section .hashtag:first-of-type {
    margin-top: 7em; }

.reveal section h4.hashtag {
  font-size: 1.4em;
  margin: 0 0.2em; }

.reveal section img.plain {
  background: none;
  border: none;
  box-shadow: none; }

.reveal section .grumpy {
  margin: 2em -0.5em 0 0;
  text-align: right;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.reveal section .emoji {
  font-size: 1.5em;
  line-height: 1; }
  .reveal section .emoji--gap {
    margin-top: 1.2em; }

.reveal section .list li {
  margin: 0.8em 0; }

.reveal section .social {
  display: block;
  position: relative;
  font-size: 0.65em;
  margin: 0.5em 0; }
  .reveal section .social i {
    margin-right: 0.1em; }
  .reveal section .social b {
    color: #c4f5f0;
    font-weight: normal; }

.reveal .flex {
  display: flex;
  text-align: left;
  margin-top: 2em;
  margin-left: 3.5em; }
  .reveal .flex div:last-child {
    margin-left: 3em; }
  .reveal .flex ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.7em; }

.reveal .continuous {
  display: inline-block;
  background: -webkit-linear-gradient(0deg, #d7438f, #2f82fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.reveal .discrete {
  display: inline-block; }
  .reveal .discrete span:nth-child(1) {
    background: #8dd3c7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .reveal .discrete span:nth-child(2) {
    background: #ffffb3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .reveal .discrete span:nth-child(3) {
    background: #bebada;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .reveal .discrete span:nth-child(4) {
    background: #fb8072;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .reveal .discrete span:nth-child(5) {
    background: #80b1d3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .reveal .discrete span:nth-child(6) {
    background: #fdb462;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .reveal .discrete span:nth-child(7) {
    background: #b3de69;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .reveal .discrete span:nth-child(8) {
    background: #fccde5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.reveal cite {
  font-size: 0.45em; }

.reveal table {
  font-size: 0.55em; }
  .reveal table td, .reveal table th {
    padding: 0.7em 0; }
  .reveal table td {
    padding-right: 1em; }

.reveal .variables {
  margin: 1em 0; }
  .reveal .variables td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.reveal .scales {
  margin: 1em auto;
  font-size: 0.7em; }
  .reveal .scales th, .reveal .scales td {
    font-weight: normal;
    border-bottom: none;
    padding: 0 2em;
    height: 3em;
    vertical-align: middle; }
  .reveal .scales th {
    padding-bottom: 0.4em; }
  .reveal .scales td {
    text-align: center; }

.reveal .scale-demo {
  margin: 0 auto;
  padding: 1em;
  max-width: 54%;
  background: white; }
  .reveal .scale-demo h3, .reveal .scale-demo table {
    color: #333; }
  .reveal .scale-demo th {
    padding: 0.7em 4em 0.7em 0; }
  .reveal .scale-demo td {
    padding: 0.7em 0; }

.reveal #scale-colour {
  margin: 2em 0 0;
  font-size: 0.6em;
  color: black; }

.reveal .chart-chooser-apps-grid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 30px;
  height: 500px; }
  .reveal .chart-chooser-apps-grid a {
    display: block;
    font-size: 0.5em; }
  .reveal .chart-chooser-apps-grid img {
    max-width: 100%;
    height: auto;
    border: none; }

.reveal .chart-chooser-apps {
  list-style: none;
  padding: 0;
  margin: 0; }
  .reveal .chart-chooser-apps a {
    display: block;
    font-size: 0.8em; }
  .reveal .chart-chooser-apps li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: toggle 7s infinite; }
    .reveal .chart-chooser-apps li:nth-child(1) {
      animation-delay: -0s; }
    .reveal .chart-chooser-apps li:nth-child(2) {
      animation-delay: -1s; }
    .reveal .chart-chooser-apps li:nth-child(3) {
      animation-delay: -2s; }
    .reveal .chart-chooser-apps li:nth-child(4) {
      animation-delay: -3s; }
    .reveal .chart-chooser-apps li:nth-child(5) {
      animation-delay: -4s; }
    .reveal .chart-chooser-apps li:nth-child(6) {
      animation-delay: -5s; }
    .reveal .chart-chooser-apps li:nth-child(7) {
      animation-delay: -6s; }

@keyframes toggle {
  5.7142857143%,
  14.2857142857% {
    visibility: visible;
    opacity: 1; }
  0%,
  20%,
  100% {
    visibility: hidden;
    opacity: 0; } }

.reveal .svg-demo {
  background: #444;
  margin-top: 30px; }
  .reveal .svg-demo * {
    animation: svg-zoom 1s infinite alternate ease;
    transform-origin: center; }
    .reveal .svg-demo *:nth-child(1) {
      animation-delay: 0s; }
    .reveal .svg-demo *:nth-child(2) {
      animation-delay: -0.4s; }
    .reveal .svg-demo *:nth-child(3) {
      animation-delay: -0.8s; }
    .reveal .svg-demo *:nth-child(4) {
      animation-delay: -1.2s; }
    .reveal .svg-demo *:nth-child(5) {
      animation-delay: -1.6s; }

@keyframes svg-zoom {
  from {
    transform: scale(0.8); }
  to {
    transform: scale(1.2); } }

.reveal .css-bar {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  width: 600px;
  background: #333; }
  .reveal .css-bar li {
    height: 30px;
    margin: 8px 0;
    font-size: 18px;
    line-height: 30px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    text-indent: -50px;
    animation: jiggle 0.7s infinite ease; }
    .reveal .css-bar li:nth-child(1) {
      animation-delay: 0s; }
    .reveal .css-bar li:nth-child(2) {
      animation-delay: 0.1s; }
    .reveal .css-bar li:nth-child(3) {
      animation-delay: 0.2s; }
    .reveal .css-bar li:nth-child(4) {
      animation-delay: 0.3s; }
    .reveal .css-bar li:nth-child(5) {
      animation-delay: 0.4s; }
    .reveal .css-bar li:nth-child(6) {
      animation-delay: 0.5s; }
    .reveal .css-bar li:nth-child(7) {
      animation-delay: 0.6s; }

@keyframes jiggle {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(1.1) translateX(2%); }
  50% {
    transform: scaleX(1); } }

.reveal .frequency text {
  animation: frequency 1s infinite alternate ease; }
  .reveal .frequency text:nth-child(1) {
    animation-duration: 0.3s; }
  .reveal .frequency text:nth-child(2) {
    animation-duration: 0.6s; }
  .reveal .frequency text:nth-child(3) {
    animation-duration: 1.2s; }
  .reveal .frequency text:nth-child(4) {
    animation-duration: 2.4s; }

@keyframes frequency {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.reveal .velocity text {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  .reveal .velocity text:nth-child(1) {
    animation-name: velocity1; }
  .reveal .velocity text:nth-child(2) {
    animation-name: velocity2; }
  .reveal .velocity text:nth-child(3) {
    animation-name: velocity3; }
  .reveal .velocity text:nth-child(4) {
    animation-name: velocity4; }

@keyframes velocity1 {
  0%, 62.5% {
    transform: translateX(0); }
  12.5%, 50% {
    transform: translateX(350px); } }

@keyframes velocity2 {
  0%, 75% {
    transform: translateX(0); }
  25%, 50% {
    transform: translateX(350px); } }

@keyframes velocity3 {
  0%, 87.5% {
    transform: translateX(0); }
  37.5%, 50% {
    transform: translateX(350px); } }

@keyframes velocity4 {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translateX(350px); } }

.reveal .trump {
  margin-top: -100px;
  animation: zoom 1s infinite alternate linear; }

@keyframes zoom {
  from {
    transform: scale(0.2); }
  to {
    transform: scale(2.5); } }

.reveal .chartlibs {
  min-height: 15em;
  min-width: 20em; }

.reveal .chartlib {
  position: fixed;
  height: auto;
  width: 10em; }
  .reveal .chartlib:nth-child(1) {
    left: 0;
    top: 0;
    transform: rotate(-10deg); }
  .reveal .chartlib:nth-child(2) {
    right: 0;
    top: 0;
    width: 8em;
    transform: rotate(10deg); }
  .reveal .chartlib:nth-child(3) {
    left: 10%;
    top: 20%;
    width: 6em;
    transform: rotate(-5deg); }
  .reveal .chartlib:nth-child(4) {
    right: -10%;
    top: 30%;
    transform: rotate(-2deg); }
  .reveal .chartlib:nth-child(5) {
    right: 0;
    top: 50%;
    transform: rotate(2deg);
    background: white;
    padding: 15px 15px 15px 5px; }
  .reveal .chartlib:nth-child(6) {
    left: -5%;
    top: 45%;
    width: 8em;
    transform: rotate(5deg); }
  .reveal .chartlib:nth-child(7) {
    left: 10%;
    top: 60%;
    width: 10em;
    transform: rotate(-2deg); }
  .reveal .chartlib:nth-child(8) {
    right: 30%;
    top: 10%;
    transform: rotate(2deg); }
  .reveal .chartlib:nth-child(9) {
    right: -5%;
    top: 60%;
    transform: rotate(-5deg); }
  .reveal .chartlib:nth-child(10) {
    right: 20%;
    top: 60%;
    width: 6em;
    transform: rotate(15deg); }
  .reveal .chartlib:nth-child(11) {
    left: -17%;
    top: 65%;
    transform: rotate(15deg); }
  .reveal .chartlib:nth-child(12) {
    left: 24%;
    top: 55%;
    width: 7em;
    transform: rotate(15deg) translateY(80px); }
    .reveal .chartlib:nth-child(12).visible {
      transform: rotate(5deg) translateY(0); }
  .reveal .chartlib:nth-child(13) {
    left: -10%;
    top: 50%;
    transform: rotate(0);
    transform: rotate(-30deg) translateX(-90px); }
    .reveal .chartlib:nth-child(13).visible {
      transform: rotate(0) translateX(0); }
  .reveal .chartlib:nth-child(14) {
    right: -10%;
    top: 60%;
    transform: rotate(20deg) translateY(-80px); }
    .reveal .chartlib:nth-child(14).visible {
      transform: rotate(20deg) translateY(0); }
  .reveal .chartlib:nth-child(15) {
    right: 20%;
    top: 50%;
    transform: rotate(0deg) translateY(100px); }
    .reveal .chartlib:nth-child(15).visible {
      transform: rotate(2deg) translateY(0); }
  .reveal .chartlib:nth-child(16) {
    left: -15%;
    top: 5%;
    width: 11em;
    transform: rotate(5deg) translateY(80px); }
    .reveal .chartlib:nth-child(16).visible {
      transform: rotate(-5deg) translateY(0); }

.reveal .speaker-notes {
  padding: 10px 30px;
  max-height: 25%;
  font-size: 20px; }

.reveal .d3-apis b {
  white-space: nowrap;
  font-weight: normal;
  font-size: 0.9em; }

.reveal .box {
  background: rgba(0, 0, 0, 0.75);
  max-width: 80%;
  margin: 0 auto;
  padding: 1em; }
  .reveal .box small {
    margin: 1em 0 0; }

.reveal .resources p {
  margin-top: 1em;
  font-size: 0.9em; }

.reveal .mountain-text {
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1), 3px 4px 20px rgba(0, 0, 0, 0.1); }

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity ease 0.4s; }

#darksky {
  background: url(../../img/dark-sky.gif) center;
  background-size: cover;
  filter: blur(10px) grayscale(30%) brightness(0.4);
  margin: -12px;
  opacity: 0; }

.scale-line {
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 6px;
  background: white; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #111;
  background-color: #111; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #eee; }

::selection {
  color: #fff;
  background: turquoise;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: turquoise;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eee;
  font-family: "Ubuntu", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: turquoise;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #98eee6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1eb6a7; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: turquoise;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: turquoise; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: turquoise; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: turquoise; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: turquoise; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #98eee6; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #98eee6; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #98eee6; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #98eee6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: turquoise;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
