@import "../fontello/css/fontello.css";
$backgroundColor: #111;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: 0;
$headingTextTransform: none;
$selectionBackgroundColor: #e7ad52;

.twitter-handle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 0.8em;
  z-index: 100;
  font-family: $mainFont;
  color: $linkColor;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 10px rgba(#000, 0.3);

  @media (min-width: 700px) {
    font-size: 1.7em;
    bottom: 40px;
    left: 40px;
  }
}



.reveal {
  section {
    .title {
      font-size: 2em;
      line-height: 1.3;

      b {
        display: block;
        font-size: 1.8em;
        white-space: nowrap;
      }
    }

    .hashtag {
      background: rgba(0,0,0,0.8);
      padding: 0.1em 0.4em;
      display: inline-block;

      &:first-of-type {
        margin-top: 7em;
      }

    }

    h4.hashtag {
      font-size: 1.4em;
      margin: 0 0.2em;
    }


    img.plain {
      background: none;
    }

    .grumpy {
      margin: 2em -0.5em 0 0;
      text-align: right;
      text-shadow: 0 0 20px rgba(0,0,0,0.6);
    }

    .emoji {
      font-size: 1.5em;
      line-height: 1;

      &--gap {
        margin-top: 1.2em;
      }
    }

    .list {
      li {
        margin: 0.8em 0;
      }
    }

    .social {
      display: block;
      position: relative;
      font-size: 0.65em;
      margin: 0.5em 0;

      i {
        margin-right: 0.1em;
      }

      b {
        color: #f3d7ac;
        font-weight: normal;
      }
    }
  }

  .speaker-notes {
    padding: 10px 30px;
    max-height: 25%;
    font-size: 20px;
  }
}

#voronoi {
  position: absolute;
  transition: opacity ease 0.4s;
}
