@import "../fontello/css/fontello.css";

.twitter-handle {
  position: fixed;
  bottom: 40px;
  left: 40px;
  font-size: 1.6em;
  z-index: 100;
  font-family: 'Open Sans', sans-serif;
  color: #e7ad52;
}

.reveal {
  section {
    .title {
      position: relative;

      color: #31639C;
      font-size: 2.3em;
      // font-size: 3.3em;
      line-height: 0.8;
      // text-align: left;

      span {
        margin-left: -3.5em;
      }

      b {
        // text-align: center;
        display: block;
        font-size: 2em;
      }

      &:before {
        content: '';
        border: 0.15em solid #e7ad52;
        border-radius: 50%;
        height: 0.7em;
        width: 6em;
        position: absolute;
        transform: rotate(10deg);
        top: 0em;
        right: -0.7em;
        box-shadow: 0 0 0.2em #e7ad52, 0 0 0.2em #e7ad52 inset;
        animation: rotate 2s infinite alternate ease-in-out;
      }
    }

    img.plain {
      background: none;
    }

    .social {
      display: block;
      position: relative;
      font-size: 0.65em;
      margin: 0.5em 0;

      i {
        margin-right: 0.1em;
      }

      b {
        color: #f3d7ac;
        font-weight: normal;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(10deg) scale(1);
  }

  to {
    transform: rotate(11deg) scale(1.02);
  }
}
