@import "../fontello/css/fontello.css";
$backgroundColor: #111;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: 0;
$headingTextTransform: none;
$selectionBackgroundColor: #e7ad52;

.twitter-handle {
  position: fixed;
  bottom: 40px;
  left: 40px;
  font-size: 1.7em;
  z-index: 100;
  font-family: $mainFont;
  color: $linkColor;
  font-weight: 600;
}


.reveal {
  section {
    .title {
      position: relative;

      color: #31639C;
      font-size: 2.3em;
      // font-size: 3.3em;
      line-height: 0.8;
      // text-align: left;

      span {
        margin-left: -3.5em;
      }

      b {
        // text-align: center;
        display: block;
        font-size: 2em;
      }

      &:before {
        content: '';
        border: 0.15em solid $linkColor;
        border-radius: 50%;
        height: 0.7em;
        width: 6em;
        position: absolute;
        transform: rotate(10deg);
        top: 0em;
        right: -0.7em;
        box-shadow: 0 0 0.2em $linkColor, 0 0 0.2em $linkColor inset;
        animation: rotate 2s infinite alternate ease-in-out;
      }
    }

    .actually {
      font-size: 1.35em;
    }

    // .conan {
    //   margin-top: 11em;
    //   text-transform: uppercase;
    //   font-family: $headingFont;
    // }

    .hashtag {
      background: rgba(0,0,0,0.8);
      padding: 0.1em 0.4em;
      display: inline-block;

      &:first-of-type {
        margin-top: 7em;
      }

    }

    h4.hashtag {
      font-size: 1.4em;
      margin: 0 0.2em;
    }

    .ethics {
      dd {
        font-size: 0.8em;
        margin-bottom: 1em;
        font-style: italic;
        color: rgba(#fff, 0.7);
      }
    }

    .vw p {
      background: rgba(0,0,0,0.6);
      padding: 0.5em 1em;
      text-align: left;
    }

    .code-of-ethics {
      padding: 1em 1.4em;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      
      h3 {
        font-size: 0.7em;
      }
      
      li {
        font-size: 0.5em;
        margin: 0.7em 0;
      }
    }

    img.plain {
      background: none;
    }

    .grumpy {
      margin: 2em -0.5em 0 0;
      text-align: right;
      text-shadow: 0 0 20px rgba(0,0,0,0.6);
    }

    .emoji {
      font-size: 1.5em;
      line-height: 1;

      &--gap {
        margin-top: 1.2em;
      }
    }

    .list {
      li {
        margin: 0.6em 0;
      }
    }

    .social {
      display: block;
      position: relative;
      font-size: 0.65em;
      margin: 0.5em 0;

      i {
        margin-right: 0.1em;
      }

      b {
        color: #f3d7ac;
        font-weight: normal;
      }
    }
  }

  .speaker-notes {
    padding: 10px 30px;
    max-height: 25%;
    font-size: 20px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(10deg) translateY(0em);
  }

  to {
    transform: rotate(10deg) translateY(-0.15em);
  }
}
